*,
*::before,
*::after{
    box-sizing: border-box;
}
section{
    padding: 120px 0;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
div{
    display: block;
}
ul,ol,li{
    margin:0;
   
    padding-left: 0;
    list-style: none;
}
main{
    flex-grow: 1;
}
.body {
  
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
 
    
   
}
.container {
    margin-left:auto;
    margin-right:auto;
    max-width: 288px;
   padding-left: 16px;
   padding-right: 16px;
}
@media  only screen and (min-width:768px){
    .container{
max-width: 736px;
    }
    
}
@media  only screen and (min-width:1158px){
.container{
max-width: 1158px;
}
}
.section{
    padding: 120px 0;
    
}

img {
    display: block;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-title-name{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   text-align: center;
}
/* @media  only screen and (min-width:768px){
    .header-title-name{

    }
    
}
@media  only screen and (min-width:1158px){
.header-title-name{

}
} */
/* header */
.head-title-link,
.address-web-link{
    display: none;

}
.logo-name-web{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   width: 115px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 76px;

}
.logo-span-studio{
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
   
 }
 .menu-open-button{
    background-color: transparent;
    border: none;
    padding: 0;
    stroke:#2F2F37;
 }
 .logo-style-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .head-list{
    padding-top: 16px;
    padding-bottom: 16px;
 }
.mobile-menu-list{
 
margin-bottom: 168px;
}
.mobile-menu-list-name{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
padding-bottom: 40px;
color: #2E2F42;
text-decoration: none;


}
.mobile-contact-list{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.mobile-menu-name-one{
    padding-bottom: 40px;
}
.mobile-contact-list-two{
    padding-bottom: 24px;
}
.mobile-menu-list-name:focus,
.mobile-menu-list-name:hover{
    color: #404BBF;
}
.mobile-contact-list:hover,
.mobile-contact-list:focus{
    color: #404bbf;
    }
    .mobile-menu-close-btn{
       

stroke-width: 1px;
stroke: #2e2f42;
position: absolute;
width: 24px;
height:24px ;
top:24px ;
right: 24px;
border-radius: 50%;
display: flex;
align-items:center;
justify-content: center;

padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn:hover,
.icon-close-btn:focus{
    fill: #e7e9fc;

}

