*,
*::before,
*::after{
    box-sizing: border-box;
}
section{
    padding: 120px 0;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
div{
    display: block;
}
ul,ol,li{
    margin:0;
   
    padding-left: 0;
    list-style: none;
}
main{
    flex-grow: 1;
}
.body {
  
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
 
    
   
}

.logo-name-web{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   width: 115px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 76px;

}
.container {
    margin-left:auto;
    margin-right:auto;
    max-width: 320px;
   padding-left: 16px;
   padding-right: 16px;
}
@media  only screen and (min-width:768px){
    .container{
max-width: 736px;
    }
    
}
@media  only screen and (min-width:1158px){
.container{
max-width: 1158px;
}
}
.section{
    padding: 120px 0;
    
}

img {
    display: block;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-title-name{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   text-align: center;
}
/* header mobile*/
@media  only screen and (max-width:767px){
    .head-title-link,
.address-web-link{
    display: none;
}
    .head-list{
        padding-top: 16px;
        padding-bottom: 16px;
     }

.menu-open-button{
    background-color: transparent;
    border: none;
    padding: 0;
    stroke:#2F2F37;
 }  
}
/* header mobile*/
/* header tablet*/
 @media  only screen and (min-width:768px){
    .mobile-menu{
        display: none;

    }
    .nav-studio-logo {
        font-weight:  700;
        font-size:18px; 
        line-height: .16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: space-between;
       width:497px;
       
    }
    .name-link{
        position: relative;
        font-weight: 500;
       
        font-size: 16px  ;
        line-height: 1.5;
        letter-spacing: 0.02em;
       color: #2e2f42;
       padding:26px 0;
       
       text-transform:initial;
       text-decoration: none;
       transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         
        }
        .head-list{
            color: #ffffff;
        border-bottom: 1px solid #E7E9FC;
        box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
        padding-top: 24px;
        padding-bottom: 24px;
        }
        .name-link:focus,
    .name-link:hover{
        color: #404BBF;
    }
.current{
 position: relative;
 color: #404BBF;
 }
.current::after{
    content: "";
    width: 100%;
        border-radius: 2px;
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 4px;
       background-color: #404bbf;
        position: absolute;
        
    }
    .head-title-link{
        list-style-type: none;
        display: flex;
        gap: 40px;
        margin: right 0;}
        .address-web-link{
            font-style: normal;
            list-style-type: none;
            margin-left :121px;
        }
        .address-link-mail{
            font-style: normal;
            margin-right: 0;
            row-gap: 12px;
        
        }
        .mail-link{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
    
       
        }
}
@media  only screen and (min-width:768px){
    .head-title-link,
    .address-web-link{
        display: flex;
    }
    .menu-open-button{
        display: none;
    }
    .current::after{
        bottom: -8px;
        }
}
/* header tablet*/
/* header desktop*/
@media  only screen and (min-width:1158px){
  
    .logo-style-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
    .nav-studio-logo {
        font-weight:  700;
        font-size:18px; 
        line-height: .16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: space-between;
      width:452px;
    }
    
    .address-link-mail{
        font-style: normal;
        display: flex;
        gap:40px;
     margin-right: 0;
    }
    .mail-link{
        font-size: 16px;
        line-height:1.5;
        letter-spacing:0.02em ;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    .mail-link:hover,
    .mail-link:focus{
        color: #404bbf;
        
    }
    .current::after{
    bottom: -1px;
    }
}
/* header desktop*/
/* header  mobile window*/

.logo-name-web{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   width: 115px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 76px;

}
.logo-span-studio{
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
   
 }
 
 .logo-style-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.mobile-menu-list{
 margin-top: 72px;
margin-bottom: 168px;

}
.mobile-menu-list-name{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
padding-bottom: 40px;
color: #2E2F42;
text-decoration: none;


}
.mobile-contact-list{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.mobile-menu-name-one{
    padding-bottom: 40px;
}
.mobile-contact-list-two{
    padding-bottom: 24px;
}
.mobile-menu-list-name:focus,
.mobile-menu-list-name:hover{
    color: #404BBF;
}
.mobile-contact-list:hover,
.mobile-contact-list:focus{
    color: #404bbf;
    }
    .mobile-menu-close-btn{
        background-color: transparent;
         padding: 0;
    stroke-width: 1px;
stroke: #2e2f42;
position: absolute;
width: 24px;
height:24px ;
top:24px ;
right: 16px;
border-radius: 50%;

align-items:center;
justify-content: center;

cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn:hover,
.icon-close-btn:focus{
    fill: #e7e9fc;

}
.mobile-menu{
    position: fixed;
    top: 0;
    left:0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visibility 250ms linear;
}
.is-open{
    opacity: 1;
    visibility: visible;
}
.mobile-menu-info{
   
    position: relative;
}

.icon-list-section-mobile{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-repeat: no-repeat;
    background-position: center;

   
}

.id-pictures-mobile{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-id-repeat-mobile{
    fill: #f4f4fd;
}
/* header  mobile window*/

/*section 1 mobile */
.one-item{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/Dark-bgmobile.jpg);
    display:block ;
    max-width: 320px;
    background-size: cover;
    background-color: #2e2f42;
    padding: 72px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    }
    .section-list-name{
        font-weight: 700;
   letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
   
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    width:216px;
    
   }
 
   .button-type{
    display:block ;
   }
    .button-link-design{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
       text-align: center;
        color: #fff;
        cursor: pointer;
        border: none;
        background-color:#4d5ae5;
         display: block;
         margin-right:auto;
       margin-left: auto;
       height: 56px;
       border-radius: 4px;
       margin-top: 72px;
       min-width: 169px;
       transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 16px 32px;
margin-top: 72px;

    }
    .button-link-design:focus,
    .button-link-design:hover{
        background-color: #404BBF;
    }



/*section 1 mobile */
/*section 1 tablet*/

@media only screen and (min-width:768px){
.one-item{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/Dark-bgtablet.jpg);
    max-width: 768px;

  padding: 112px 0;
   
}


.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;

width: 496px;
align-items: center;




}
.button-link-design{
margin-top:36px;

}
}
/*section 1 tablet */
/*section 1 desktop */
@media only screen and (min-width:1158px){
.one-item{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/people-officedesktop.jpg);
    max-width: 1440px;
    padding: 188px 0;
}
.button-link-design{
        margin-top: 48px;
    }
}
/*section 1 desktop */
/*section 2 mobile */
.list-section-two{
    max-width:320px;
}
.section-two-item{
    padding-top:96px;
   padding-bottom: 96px;
  
 
}
.section-list-names{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.character-option-list{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

padding-bottom: 72px;
width:288px;
margin-bottom: 0;
}


@media only screen and (max-width:767px){

}
/*section 2 mobile */
/*section 2 tablet */
@media only screen and (min-width:768px){
    .section-list-character{
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        margin-right: auto;
        row-gap: 72px;
     }
     .section-list-names{
        text-align: left;
     }
     
     .character-option-list{
        padding-bottom: 0;
        width: 356px;
     }

     .list-section-two{
        max-width:768px;
    }
}
@media only screen and (min-width:768px){
}
/*section 2 tablet */
/*section 2 desktop */
@media only screen and (max-width:1157px){
    .section-two-icon{
        display: none;
    }
}
@media only screen and (min-width:1158px){
    .section-two-item{
        padding-top:120px;
        padding-bottom: 120px;
    }
    .list-section-two{
        max-width: 1158px;
    }
    .icon-class{
        display: flex;
        gap: 24px;
    }
    .icon-foto{
        border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 264px;
    margin-bottom: 8px;
    
    }
    .section-two-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
       
    }
    .section-list-character{
     gap: 24px;
    text-align: left;
display: flex;
flex-wrap: wrap;
 margin-right: auto;
    
    }
    .sections-number-list{
     
        width: calc((100% - 72px) / 4);
        }
    .sections-number-list:last-child{
    margin-right: 0;
    }
     .section-list-names{
        
       margin-bottom: 8px; 
       font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
        }
        .character-option-list{
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            width:264px;
 }
      .icon-list-section-tree{
        margin-top: 8px;
    
      }
    }
/*section 2 desktop */
/*section 3 mobile */

.section-team-foto{
max-width:320px;
    background: #f4f4fd;
   
 }
 .icon-list-section-tree{
    display: flex;
    justify-content: center;
    gap: 24px;
    background-repeat: no-repeat;
    background-position: center;
    

}
.icon-list{
    
    display: flex;
    margin-top:8px;
    padding-bottom:32px;
    gap:24px;
    padding-left:16px;
    padding-right:16px;
    fill: #f4f4fd;
}
/* .picture-size{
    width: 264px;
height: 260px;
} */

.foto-people{
    margin-left: auto;
    margin-right: auto;
  width:264px;
   margin-bottom: 72px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.names-workers{
    padding: 32px 0;
}
.id-pictures-website{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.id-pictures-website:hover,
.id-pictures-website:focus{
    background-color: #404bbf;
}
.icon-id-repeat{
    fill: #f4f4fd;
}
.icon-id-one{
    display: flex;
    justify-content: center;
    align-items:center;
    width:40px;
    height: 40px;
    


}
.name-person-work{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  
  text-decoration: none;
    }
    .team-foto-people{
        list-style-type: none; 
       
    }
    .section-font-style{
        list-style-type: none;
       
    }

.character-option-list-second{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 12px;

}


/*section 3 mobile */
/*section 3 tablet */
@media only screen and (min-width:768px){

.section-team-foto{
    max-width: 768px;
}
.section-font-style{
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    margin-right: 0;
    row-gap: 64px;
    align-items: center;
    justify-content: center;
}
.foto-people{
    margin:0;
   
}
}

/*section 3 tablet */
/*section 3 desktop */
@media only screen and (min-width:1158px){
    .section-team-foto{
        max-width: 1440px;
    }
    .section-font-style{
         flex-wrap: nowrap;
      }
   
   
}
/*section 3 desktop */
/*section 4  */
/*section 4 mobile */

.fon-portfolio{
    width:288px;
}
.thumb{
    position:relative ;  
    overflow: hidden;


 }
.list-images{
    display:block;
    margin: 0%;
 }
 .text-overlay{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
top:0;
height: 100%;
width:100%;
padding: 40px 32px;
background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.foto-app{
    margin-bottom: 48px;
    
 
   
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.categories-app{
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
width:288px;
height: 120px;

    border-top: none;
  
}
.name-person-work-two{
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.character-option-list-two{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*section 4 mobile */
/*section 4 tablet */
@media only screen and (min-width:7688px){

}
/*section 4 tablet */
/*section 4 desktop */
@media only screen and (min-width:1158px){

}
/*section 4 desktop */